td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type >div {
  height: 200px;
  width: 250px;
}
nav {
background-image: -webkit-linear-gradient(top left, #43CBFF 0%, #9708CC 100%);
background-image: -o-linear-gradient(top left, #43CBFF 0%, #9708CC 100%);
background-image: linear-gradient(to bottom right, #43CBFF 0%, #9708CC 100%);
}
